@using eShop.ViewModel.System.Users
@using eShop.ViewModel.Catalog.Common
@model PageResult<UserViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Danh sách người dùng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách người dùng</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-md-3">
                    <button type="button" class="btn btn-outline-success" id="create" onclick="loadCreatModal()">

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                        </svg>
                        Tạo mới
                    </button>
                </div>
                <div class="col-md-9">
                    <div class="row justify-content-between">
                        <div class="col-md-3">
                            <select class="form-select w-auto" aria-label="Default select example" name="pagesize" id="pageSizeSelect">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end">
                            <div class="d-flex justify-content-end">
                                <div class="input-group">
                                    <div class="form-outline">
                                        <input type="search" id="keywordTextBox" class="form-control" />
                                    </div>
                                    <button id="search-button" type="button" class="btn btn-primary">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
        
        <div class="card-body" id="tableData">
            <div class="row">
                <div class="alert alert-success" role="alert" id="alertDiv" style="display:none">
                    
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Tên
                        </th>
                        <th>
                            Họ
                        </th>
                        <th>
                            Số điện thoại
                        </th>
                        <th>
                            Tên đăng nhập
                        </th>
                        <th>
                            Email
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                <button class="btn btn-outline-primary btn-edit" @*onclick="loadUpdateModal('@item.Id')"*@ data-id="@item.Id">
                                    <!--Edit icon-->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                    </svg>
                                </button>
                                <button class="btn btn-outline-danger btn-delete" data-id="@item.Id">
                                    <!--Delete icon-->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                                    </svg>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @await Component.InvokeAsync("Pager", Model)
        </div>
        </div>
    </div>

<!--Modal-->
<!-- Button trigger modal -->
<div id="modalHere">

</div>

<!-- Modal -->
@section Scripts{
    <script src="~/js/bootbox.min.js"></script>
    <script>
        //create
        function loadCreatModal() {
            $.ajax({
                url: '@Url.Action("Create","User")',
                success: function (data) {
                    $("#modalHere").html(data);
                    $("#exampleModal").modal('show');
                }
            });
        }
        function createUser() {
            if ($("#createForm").valid()) {
                var data = $("#createForm").serialize();
        //console.log(data);
        //alert(data);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Create","User")',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
                    data: data,
                    dataType: 'json',
                    success: function (result) {
                        /*alert(JSON.stringify(result));*/
                        if (result.isSucceed == true) {
                            $("#exampleModal").modal('hide');
                            alertForm("Tạo mới thành công");
                            setInterval(function () {
                                location.reload();
                            }, 2000);
                        }
                        else {
                            bootbox.alert(result.errors);
                        }
                    },
                    error: function () {
                        bootbox.alert('Failed to receive the Data');
                    }
                });
            }

        }
        //update
        function loadUpdateModal(id) {
            $.ajax({
                url: '@Url.Action("Update","User")',
                data: {id:id},
                success: function (data) {
                    $("#modalHere").html(data);
                    $("#exampleModal").modal('show');
                }
            });
        }
        function updateUser() {
            if ($("#updateForm").valid()) {
                var data = $("#updateForm").serialize();
        //console.log(data);
        //alert(data);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Update","User")',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
                    data: data,
                    dataType: 'json',
                    async: false,
                    success: function (result) {
                        /*alert(JSON.stringify(result));*/
                        if (result.isSucceed == true) {
                            $("#exampleModal").modal('hide');
                            
                            alertForm("Cập nhật thành công");
                            setInterval(function () {
                                location.reload(true);
                            }, 2000);
                        }
                        else {
                            bootbox.alert(result.errors);
                        }
                    },
                    error: function () {
                        alert('Failed to receive the Data');
                    }
                });
            }

        }
        //delete
        function deleteUser(id) {
            $.ajax({
                url:'@Url.Action("Delete","User")',
                method: "Post",
                data: { id: id },
                async:false,
                success: function (data) {
                    if (data.isSucceed == true) {
                        alertForm("Xóa thành công");
                        setInterval(function () {
                            location.reload();
                        }, 2000);
                    }
                    else {
                        bootbox.alert(data.errors);
                    }
                },
                error: function () {
                    bootbox.alert("Xóa không thành công!");
                }
                });
        }
        function getUserPaging(keyword, pageIndex, pageSize) {
            $.ajax({
                url: '@Url.Action("GetUserPaging","User")',
                data: {
                    keyword: keyword,
                    pageIndex: pageIndex,
                    pageSize:pageSize
                },
                success: function (data) {
                    $("#tableData").html(data);
                }
            });
        }
        function alertForm(message) {
            $("#alertDiv").text(message).fadeIn("slow").delay(3000).fadeOut("slow");
        }
        //for search
        $("#pageSizeSelect").on('change', function () {
            var pageIndex = 1;
            var pageSize = $(this).val();
            var keyword = $("#keywordTextBox").val();
            getUserPaging(keyword, pageIndex, pageSize);
        });
        $("#search-button").on('click', function () {
            bootbox.alert("Clicked!");
            var pageIndex = 1;
            var pageSize = $("#pageSizeSelect").val();
            var keyword = $("#keywordTextBox").val();
            getUserPaging(keyword, pageIndex, pageSize);
        });
        $(document).on('click', '.page-link', function () {
                var pageIndex = $(this).data("pageindex");
                var pageSize = $("#pageSizeSelect").val();
                var keyword = $("#keywordTextBox").val();
                getUserPaging(keyword, pageIndex, pageSize);
            });

        //for edit
        $(document).on('click', '.btn-edit', function () {
                var id = $(this).data('id');
                loadUpdateModal(id);
        });
        //dor delete
        $(document).on('click', '.btn-delete', function () {
                var id = $(this).data('id');
                bootbox.confirm("Bạn chắc chắn muốn xóa?", function (result) {
                    if (result) {
                        deleteUser(id);
                    }
                });
            });
    </script>
}

