@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    var culture = CultureInfo.CurrentCulture.Name;
    var cultureInfor = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    var baseUrlToDetail = $"/{culture}/Product/Detail/";
}

@section Slider{
    <div id="carouselBlk">
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                @foreach (var slide in Model.Slides)
                {
                    if (slide.SortOrder == 1)
                    {
                        <div class="item active">
                            <div class="container">
                                <a href="@slide.Url"><img style="width:100%" src="@slide.Image" alt="@slide.Name" /></a>
                                <div class="carousel-caption">
                                    <h4>@slide.Name</h4>
                                    <p>@slide.Description</p>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="item">
                            <div class="container">
                                <a href="@slide.Url"><img style="width:100%" src="@slide.Image" alt="@slide.Name" /></a>
                                <div class="carousel-caption">
                                    <h4>@slide.Name</h4>
                                    <p>@slide.Description</p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
}

<div class="well well-small">
    <h4><localize>Featured Products</localize><small class="pull-right">200+ featured products</small></h4>
    <div class="row-fluid">
        <div id="featured" class="carousel slide">
            <div class="carousel-inner">
                @for (int i = 0; i <= Model.FeaturedProducts.Count / 4; i++)
                {
                    <div class="item @(i==0?"active":"")">
                        <ul class="thumbnails">
                            @for (int j = 0; j < 4; j++)
                            {
                                var index = i * 4 + j;
                                if (index < Model.FeaturedProducts.Count)
                                {
                                    var item = Model.FeaturedProducts[index];
                                    <li class="span3">
                                        <div class="thumbnail">
                                            <i class="tag"></i>
                                            <a href="@(baseUrlToDetail+item.Id.ToString())"><img class="image-fit" src="@(Model.BaseAddress + item.ThumbnailImage)" alt="@item.Name"></a>
                                            <div class="caption">
                                                <h5>@item.Name</h5>
                                                <h4><a class="btn" href="@(baseUrlToDetail+item.Id.ToString())" localize-content>VIEW</a> <span class="pull-right">@string.Format(cultureInfor, "{0:c0}", item.Price)</span></h4>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                }
            </div>
            <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#featured" data-slide="next">›</a>
        </div>
    </div>
</div>
<h4><localize>Latest Products</localize></h4>
<ul class="thumbnails">
    @foreach (var item in Model.LatestProducts)
    {
        <li class="span3">
            <div class="thumbnail">
                <a href="@(baseUrlToDetail+item.Id.ToString())"><img src="@(Model.BaseAddress + item.ThumbnailImage)" class="image-fit" alt="@item.Name" /></a>
                <div class="caption">
                    <h5>@item.Name</h5>
                    <p>
                        @item.Description
                    </p>

                    <h4 style="text-align:center">
                        <a class="btn" href="@(baseUrlToDetail+item.Id.ToString())"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">
                            <localize>Add to</localize>
                            <i class="icon-shopping-cart"></i>
                        </a> <a class="btn btn-primary" href="#">@string.Format(cultureInfor, "{0:c0}", item.Price)</a>
                    </h4>
                </div>
            </div>
        </li>
    }
</ul>
